<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHpgooYFSUpCVeJIYxEV9HqnADD12pCj0znA&usqp=CAU" width="45" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main">All products</a>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" href="#">Admin panel</a>
            </li>
        </ul>

        <a class="navbar-brand ms-auto me-3" href="#">
            <img src="https://e7.pngegg.com/pngimages/9/977/png-clipart-silhouette-of-shopping-cart-computer-icons-supermarket-shopping-cart-grocery-store-supermarket-furniture-sticker.png" width="55" height="35" alt="">
        </a>
        <a class="nav-link text-capitalize me-3" href="#" th:text="${#httpServletRequest.remoteUser}">
        </a>
        <form class="me-3" th:action="@{/logout}" method="post">
            <button class="btn btn-primary btn-sm" type="submit">Sign Out</button>
        </form>
    </div>
</nav>

<div class="container mt-3">
<div sec:authorize="isAuthenticated()">
    <h1 class="text-capitalize" th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2 th:text="${welcome}"></h2>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>